<header>
  <p>Hola, soy <span class="name">Juan</span>.
  <br />
  Estudiante de <span class="career">Desarrollo de Software</span>.</p>
</header>

<style>
  header {
    color: var(--white-light);
    font-weight: 300;
    font-size: 5.2rem;
    letter-spacing: 4px;
    line-height: 80px;
    text-align: center;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p{
    margin: 0;
  }

  .name {
    color: var(--primary-color);
    font-weight: 400;
  }

  .career {
    color: var(--secondary-color);
    font-weight: 400;
  }
</style>