---
import '@fontsource-variable/inter-tight';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-color: #6E4AB5;
		--secondary-color: #ec5853;
		--shadow-color: #95F0A3;
		--white-light: #fff6ed;
		--background-color: #19171d;
		--background-color-light: #2b2833;
		--background-color-dark: #0f0d12;
		font-size: 62.5%;
		scroll-behavior: smooth;
	}
	html {
		font-family: 'Inter Tight Variable', sans-serif;
		background: var(--background-color);
		height: 100%;
		width: 100%;
		color-scheme: dark light;
	}
	body {
		margin: 0;
		padding: 0;
		height: 100%;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
